<!--
File: footer.ejs
Date: 25.11.2022

NAME: xTrak - Incident Reporting
Description: xTrak is a web app platform to capture data for incident. The reports are saved and organized in a list. 

---- DEVELOPERS ----
Tim Upton – 301259058 
Pedro Da Silva Dergado – 301239283 
Alex Damovski – 301192233 
Tyler Mercier – STUDENT NUM 
Danill Velykyi - 301183618
Cathy Da - 301177731 
-->
<nav class="navbar footer d-flex flex-wrap justify-content-between align-items-center">
  <div class="container">
    <h6 id="copyright">&copy; <b>xTrak</b> Copyright 2022</h6>
    <ul class="nav col-md-4 justify-content-end">
      <li clas="nav-item">
        <a class="nav-link px-2" href="/home">Home</a>
      </li>
      <li clas="nav-item">
        <a class="nav-link px-2" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>