<nav class="navbar fixed-bottom footer d-flex flex-wrap justify-content-between">
  <div class="container-fluid">
    <h6 id="copyright">&copy; <b>xTrak</b> Copyright 2022</h6>
    <ul class="nav col-md-4 justify-content-end">
      <li clas="nav-item">
        <a class="nav-link px-2" href="/home">Home</a>
      </li>
      <li clas="nav-item">
        <a class="nav-link px-2" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>