<div class="loginWindow">

                <h1 class="">Login</h1>
 
                <form method="POST" id="loginForm" novalidate>
         
                        <i class="userIcon">
                        </i>
   
                      <input type="text" class="form-inputs" id="username" name="username"  required
                      value="" placeholder="Enter your username">
   
                        <i class="userIcon">
                        </i>
                      <input type="password" class="form-inputs" id="password" name="password"  required
                      value="" placeholder="Enter your password">
                                                                
                  <div class="buttonsArea">
                    <button id="loginButton" type="submit" class="btn-lg">
                      <i class="fas fa-sign-in-alt"></i> Login</button>
                      <button id="cancelButton" type="reset" class="btn-lg">
                        <i class="fas fa-undo"></i> Cancel</button>
                  </div>
                </form>
              
          
            
<p class="text-center text-muted small">
              Don't have an account? 
              <a class="link" href="register">Register Here!</a>
            </p>
        </div>