
.main{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.left {
    position: relative;
    margin-top: 30px;
    width:576px;
    height: 324px;
    text-align:center;
     height: 700px;
     border: 3px solid black;
     border-radius:20px;
     background-color:#C8B1E4;
     margin-bottom:40px;
}

.right {
padding-top:7%;
    position: relative;
    min-width:576px;
    max-width: 700px;
    height: 324px;
    font-size:40px;
    text-align:center;
}

@media screen and (min-width:1152px){
  .main {
      justify-content: space-between;
  }

  .left {
      order:2;
  }

  .right {
      order:1;
  }
}

.input-group{
    padding-right: 10px;
    margin-right:10px;
    margin-top: 5px;
}
.buttonsArea{
    text-align: center;
    float: left;
    height: 50%;
 	width: 100%;
}

.btn-lg {
    margin-left:5px;
    width: 20%;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color:white;
}
.btn-lg:hover{
    background-color:red;
}
.form-inputs{
width: 50%;
height: 40px;
border-radius: 10px;
margin-left:5px;
margin-bottom:10px;
}
select{
    background-color: white;
    border-radius: 10px;
}
.userIcon{
    margin-left: 50px;
    width:5px;
    height:5px;
}
