<div class ="container-bottom text"></div><br>
<div class ="text-center">
    <img src="./content/images/about.png" class="img-fluid" alt="...">
    <div class="centered text-white fs-1"><b>xTrak</b> COMP229 Group 1 Project</div>
<br><br>
<h3>By:Tim Upton, Pedro Da Silva Dergado, Alex Damovski,  
    Tyler Mercier, Danill Velykyi, Cathy Da </h3>
</div>