<!--
File: about.ejs
Date: 25.11.2022

NAME: xTrak - Incident Reporting
Description: xTrak is a web app platform to capture data for incident. The reports are saved and organized in a list. 

---- DEVELOPERS ----
Tim Upton – 301259058 
Pedro Da Silva Dergado – 301239283 
Alex Damovski – 301192233 
Tyler Mercier – STUDENT NUM 
Danill Velykyi - 301183618
Cathy Da - 301177731 
-->
<div class="container-bottom text"></div>
<div class="text-center">
    <img src="./content/images/about.png" class="img-full-height" alt="...">
    <div class="centered text-white fs-1">
        <b>xTrak</b> COMP229 Group 1 Project
        <br /><br /><br />
    </div>
    <div class="centered text-white fs-1">

    </div>

    <div class="container container-flex px-4 text-center">
        <br><br>
        
        <div class="row row-cols-1 row-cols-md-3 g-4 p-3 pb-5">
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:blueviolet"><b>Project Manager</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-white">Tim Upton</h5>
                      <p class="card-text text-white">Passionate Entreprenuer and product developer from Canada.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:blueviolet"><b>Lead Web Designer</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-white">Pedro Da Silva Dergado</h5>
                      <p class="card-text text-white">Passionate & creative software developer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:blueviolet"><b>Lead Soft Engineer</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-white">Danill Velykyi</h5>
                      <p class="card-text text-white">Passionate & creative software developer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:blueviolet"><b>Lead UI Programmer</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-white">Cathy Da</h5>
                      <p class="card-text text-white">Passionate & creative software developer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:blueviolet"><b>Lead Database Programmer</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-white">Alex Damovski</h5>
                      <p class="card-text text-white">Passionate & creative software developer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:blueviolet"><b>Lead Security Programmer</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-white">Tyler Mercier</h5>
                      <p class="card-text text-white">Passionate & creative software developer.</p>
                    </div>
                </div>
            </div>
               
        </div>
            
        </div>
    <div class="container-fluid">
        <br><br>

    </div>
</div>