<!--
File: about.ejs
Date: 10.11.2022

NAME: xTrak - Incident Reporting
Description: xTrak is a web app platform to capture data for incident. The reports are saved and organized in a list. 

---- DEVELOPERS ----
Tim Upton – 301259058 
Pedro Da Silva Dergado – 301239283 
Alex Damovski – 301192233 
Tyler Mercier – STUDENT NUM 
Danill Velykyi - 301183618
Cathy Da - 301177731 
-->
<div class="container-bottom text"></div>
<div class="text-center">
    <img src="./content/images/about.png" class="img-full-height" alt="...">
    <div class="centered text-white fs-1">
        <b>xTrak</b> COMP229 Group 1 Project
        <br /><br /><br />
        <h class="fs-3">By: Tim Upton, Pedro Da Silva Dergado, Alex Damovski,
            Tyler Mercier, Danill Velykyi, Cathy Da </h>
    </div>
    <div class="centered text-white fs-1">

    </div>
    <div class="container-fluid">
        <br><br>

    </div>
</div>