<div class ="container-bottom"></div><br>
    <img src="./content/images/about.png" class="img-fluid" alt="...">
    <div class="centered text-white fs-1"><b>xTrak</b> COMP229 Group 1 Project</div><div class="centered-btn" ></div>
<br><br>
<h3 class = "text-center">By:Tim Upton, Pedro Da Silva Dergado, Alex Damovski,  
    Tyler Mercier, Danill Velykyi, Cathy Da 
     </h3>
