

    <img src="./content/images/banner.png" class="img-fluid" alt="...">

    <div class="centered"><b>xTrak</b>-ing all incidents into an organized system.</div><div class="centered-btn" >
    <a href = "/login"><button type="button" class="btn btn-secondary btn-lg"> Trak Incidents Now</button></a></div>
<div class="container">
<br><br><br>
</div>

<div class="container-lg">
<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">1: Login or Register</h5>
              <p class="card-text">Create a user account, it's free and secure.</p>
             
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">2: Create</h5>
              <p class="card-text">Add a new incident including all the details; description, date and more.</p>
             
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">3: Track & Organize</h5>
              <p class="card-text">Browse and edit all incidents reported, archive and more.</p>
       
            </div>
          </div>
      </div>
    </div>
    <br>
  </div>


    <div class ="container-bottom"></div>