<!--
File: home.ejs
Date: 10.11.2022

NAME: xTrak - Incident Reporting
Description: xTrak is a web app platform to capture data for incident. The reports are saved and organized in a list. 

---- DEVELOPERS ----
Tim Upton – 301259058 
Pedro Da Silva Dergado – 301239283 
Alex Damovski – 301192233 
Tyler Mercier – STUDENT NUM 
Danill Velykyi - 301183618
Cathy Da - 301177731 
-->
  <div class = "container-flex text-center">
    <img src="./content/images/banner.png" class="img-fluid" alt="...">
  </div>
    <div class="centered"><b>xTrak</b>-ing all incidents into an organized system.</div>
    <div class="centered-btn" >
      <a href = "/login"><button type="button" class="btn btn-secondary btn-lg"> Trak Incidents Now</button></a>
    </div>
<div class="container">
<br><br><br>
</div>

  <div class="container container-flex px-4 text-center">
    <div class="row gx-5">
      <div class="col min-width">
       <div class="p-3 border bg-light boxFormat"><h8> <b>Login or Register</b> </h8> <br>Create a user account that only take one min to set up, is free and secure.</div>
      </div>
      <div class="col min-width">
        <div class="p-3 border bg-light boxFormat"><h8> <b>Input Incident</b> </h8> <br>Add a new incident with all the details; description, date and more.</div>
      </div>
      <div class="col min-width">
        <div class="p-3 border bg-light boxFormat"><h8> <b>Track & Organize</b> </h8> <br>Browse and edit all incidents reported, organize, archive follow-up and more.</div>
      </div>
    </div>
  </div>

  <div class = "container-flex text-center">
<div class ="container-bottom"></div><br>
    <img src="./content/images/secure.png" class="img-fluid" alt="...">
  </div>

    <div class ="container-bottom"></div>
    <div class = "container-flex">
      <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col min-width">
           <div class="p-3 border bg-light boxFormat"><h8> <b>User Control</b> </h8> <br><img src="./content/images/award1.png" width = "100%"></div>
          </div>
          <div class="col min-width">
            <div class="p-3 border bg-light boxFormat"><h8> <b>Key Functionality</b> </h8> <br><img src="./content/images/award2.png" width = "100%"></div>
          </div>
          <div class="col min-width">
            <div class="p-3 border bg-light boxFormat"><h8> <b>Top Security</b> </h8> <br><img src="./content/images/award3.png" width = "100%"></div>
          </div>
        </div>
      </div>
      <div class ="container-bottom"></div><br>
      <div class ="container-bottom"></div><br>
    </div>